.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.app_panel {
  max-width: 400px;
}

.question_panel {
  text-align: center;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 64px;
}

.flex-container {
  display: flex;
  margin: 10px;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 5px;
}

.answer_button {
  text-align: center;
}
